body {
    background-color: #b9d9eb;
}

#content {
    width: 600px;
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #EFEFEF;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

#dog-content {
    width: 90vw;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #EFEFEF;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;

    /*Prevent the content of the element from overflowing its box.*/
    /*If the content is larger it will be clipped and the excess content will not be visible.*/
    overflow: hidden;
}

.float-right {
    float: right;
}

.errorlist {
    color: red;
}

.dog-container {
    /*Use the CSS Grid Layout*/
    display: grid;

    /*This defines the column structure of the grid layout
    'auto-fill' fills the row with as many columns as it can fit. minmax(250px, 1fr)
    ensures that each column has a min width 250px and max width
    that distributes the remaining space equally (1fr = one fraction of available space).*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* The gap between grid items */
    width: 90%;
    margin: 0 auto;
}

.dog-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
    /* The shadow is 0 pixels to the right and 2 pixels down, has a blur radius 5 pixels and has 10% opacity */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  align-items: center;
}

.dog-details {
    display: flex;
    flex-wrap: wrap; /*Allow items in a flex container to wrap onto multiple lines*/
    margin-bottom: 20px;
}

.dog-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  float: left;
  margin-right: 20px;
}

.dog-description {
    float: right;
    width: 50%;
}

.left-side {
    /*The item can grow to fill available space if necessary*/
    flex: 1;
    margin-right: 20px;
}

.right-side {
     /*The item can take up twice as much space as items with flex: 1;*/
    flex: 2;
}

.comments-section {
    /*This ensures that the comment section does not start adjacent */
    /*to any floating elements above it (the dog details and description)*/
    clear: both;
}

.status-available { color: green; }
.status-in-progress { color: yellow; }
.status-completed { color: blue; }

.comment {
  width: 20vw;
  max-width: 80%;
  background-color: antiquewhite;
  border: 1px solid saddlebrown;
  border-radius: 8px; /*Make the border rounded*/
  padding: 10px;
  margin-bottom: 4px; /* Add space between comments */
}

.comment .author {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.notification {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}

.unread {
    font-weight: bold;
    background-color: #f0f0f0;
}

