{% extends "base.html" %}

{% block content %}
<div class="registration">
  <h2>Register</h2>
  <form method="post" id="regForm">
    {% csrf_token %}
    {{ reg_form.as_p }}
    <button type="submit" name="action" value="register">Register</button>
  </form>
</div>

<div class="login">
  <h2>Login</h2>
  <form method="post" id="loginForm">
    {% csrf_token %}
    {{ login_form.as_p }}
    <button type="submit" name="action" value="login">Login</button>
  </form>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  function toggleRegistrationCodeField() {
      const roleSelect = document.querySelector("#regForm [name='role']");
      const registrationCodeField = document.querySelector("#regForm [name='registration_code']").closest('p');
      if (roleSelect && registrationCodeField) {
      if (roleSelect.value === "shelter") {
        registrationCodeField.style.display = ""; // Show
      } else {
        registrationCodeField.style.display = "none"; // Hide
      }
    }
  }

    const roleSelect = document.querySelector("#regForm [name='role']");
    if (roleSelect) {
    roleSelect.addEventListener("change", toggleRegistrationCodeField);
  }

  toggleRegistrationCodeField();
});
</script>
{% endblock %}

