{% extends "base_content.html" %}
{% load static %}

{% block content %}
<button onclick="history.back();">Back</button>

<div class="dog-details">
    <div class="left-side">
        <div class="dog-image">
            {% if dog.image %}
                <img src="{{ dog.image.url }}" style="width: 200px; height: 200px;">
            {% else %}
                <img src="{% static 'dog_silhouette.jpg' %}" style="width: 200px; height: 200px;">
            {% endif %}
        </div>

        <h1>{{ dog.name }}</h1>
        <p><strong>Age:</strong> {{ dog.age }}</p>
        <p><strong>Size:</strong> {{ dog.size }}</p>
        <p><strong>Gender:</strong> {{ dog.get_gender_display }}</p>
        <p><strong>Breed:</strong> {{ dog.breed }}</p>
        <p><strong>Shelter:</strong> {{ dog.shelter.name }}</p>
        <a href="{% url 'shelter_details' dog.shelter.pk %}">Visit Shelter Page</a>
    </div>

    <div class="right-side">
        <div class="dog-description">
            <p><strong>Description:</strong></p>
            <p>{{ dog.description }}</p>
        </div>
    </div>
</div>

<div class="comment-section">
    {% for comment in comments %}
        <div class="comment">
            <div class="author">{{ comment.author }}</div>
            <p>{{ comment.content }}</p>
            {% if request.user == comment.author %}
                <a href="{% url 'edit_comment' post_pk=dog_post.pk comment_pk=comment.pk %}">Edit</a>
                <a href="{% url 'delete_comment' post_pk=dog_post.pk comment_pk=comment.pk %}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}


    <form action="{% url 'add_comment_to_post' dog.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
</div>

{% endblock %}

