{% extends "base_content.html" %}
{% load static %}

{% block content %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="float-right">Logout</button>
    </form>
    <div class="header">Welcome!</div>

    {% if request.user.role == 'shelter' %}
        <a href="{% url 'create_post' %}">Create Post</a>
    {% endif %}

<div class="dog-container">
    {% for dog in dogs %}
    <div class="dog-item">
        <h2>{{ dog.name }}</h2>
        <p>Age: {{ dog.age }}</p>
        <p>Breed: {{ dog.breed }}</p>
        <div class="dog-image">
            {% if dog.image %}
                <img src="{{ dog.image.url }}" style="width: 200px; height: 200px;">
            {% else %}
                <img src="{% static 'dog_silhouette.jpg' %}" alt="Default Image" style="width: 200px; height: 200px;">
            {% endif %}
        </div>
        <p>Shelter: {{ dog.shelter.name }}</p>
        <a href="{% url 'dog-details' pk=dog.pk %}">View Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}

