{% extends "base.html" %}

{% block content %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="float-right">Logout</button>
    </form>
    <div class="header">Welcome!</div>


{% for dog in dogs %}
<div>
    <h2>{{ dog.name }}</h2>
    <p>Age: {{ dog.age }}</p>
    <p>Breed: {{ dog.breed }}</p>
    <p>Image: {{ dog.image }}</p>
    <p>Shelter: {{ dog.shelter.name }}</p>
    <a href="{% url 'dog_details' pk=dog.pk %}">View Details</a>
</div>
{% endfor %}
{% endblock %}

